* {
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 31, 22);

}

h1 {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  color: grey;
}


.grid-wrapper {
  display: flex;
  justify-content: center;

}

.grid { 
  display: flex;
  justify-content: center;
  height: 600px;
  width: 550px;
  flex-wrap: wrap;
}

p {
  color: grey;
}

.grid div {
  border: rgba(59, 59, 59, 0.301) solid 1px;
  color: grey;
  height: 8%;
  width: 9%;
  flex-grow: 1;
}

.grid div.end-portal { 
  background-color: rgb(23, 180, 17)
}

.grid div.frogger {
  background-color: blueviolet;
}

.grid div.obstacle-one{
  background-color: red;
}

.grid div.obstacle-two {
  background-color: rgb(208, 255, 0);
}

.grid div.obstacle-three {
  background-color: rgb(38, 0, 255);
}

.grid div.obstacle-four {
  background-color: rgb(255, 0, 221);
}

.grid div.water {
  background-color: rgba(0, 255, 255, 0.432);
  position: relative;
}

.grid div.water.log::before {
  background-color: brown;
  position: absolute;
}
