* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;

}

h1 {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}


.grid-wrapper {
  display: flex;
  justify-content: center;

}

.grid { 
  display: flex;
  justify-content: center;
  height: 600px;
  width: 550px;
  flex-wrap: wrap;
}

.grid div {
  border: rgba(59, 59, 59, 0.301) solid 1px;
  height: 8%;
  width: 9%;
  flex-grow: 1;
}

.grid div.end-portal { 
  background-color: rgb(23, 180, 17)
}

.grid div.frogger {
  background-color: blueviolet;
}

.grid div.obstacle-one-a{
  background-color: red;
}
.grid div.obstacle-one-b{
  background-color: red;
}
.grid div.obstacle-one-c{
  background-color: red;
}

.grid div.obstacle-two-a {
  background-color: rgb(208, 255, 0);
}

.grid div.obstacle-two-b {
  background-color: rgb(208, 255, 0);
  
}


.grid div.obstacle-three-one-a {
  background-color: rgb(38, 0, 255);
}

.grid div.obstacle-three-two-a {
  background-color: rgb(38, 0, 255);
}
