* {
  box-sizing: border-box;
}

body {
background-image: url('../assets/png/grass.jpg');

}

h1 {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  color:#ffcb05;
  text-shadow: 5px 5px #2a75bb;
  font-family: 'press start 2p', Arial, Helvetica, sans-serif;
}

.controls-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
} 

#start {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.instructions {
  font-size: 16px;
  margin: 20px; 
  letter-spacing: 1.5px;
  text-align: center;
}

.poke-score {
  display: none;
}

.poke-lives {
  display: none;
}


.controls {
  background-position: center;
  background-repeat: none;
  width: 100px;
  height: 80px;
  margin: 40px;
}


.grid-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  

}

.grid { 
  background-image: url('../assets/png/Arena.png');
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 600px;
  width: 550px;
  flex-wrap: wrap;
}

p {
  color:#ffcb05;
  text-shadow: 2px 2px #2a75bb;
  font-family: 'press start 2p', Arial, Helvetica, sans-serif;
  display: block;
}

.grid div {
  height: 8%;
  width: 9%;
  flex-grow: 1;
}

#play-again {
  border: none;
  color:#ffcb05;
  text-shadow: 2px 2px #2a75bb;
  font-family: 'press start 2p', Arial, Helvetica, sans-serif;
  font-size: 18px;
}


.hidden {
  display: none;
}

.grid div.end-portal { 
  background-image: url('../assets/png/pokeball2.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.player {
  /* background-color: chartreuse; */
  background-image: url('https://img.pokemondb.net/sprites/black-white/anim/normal/charmander.gif'); 
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.enemy-one{
  background-image: url('../assets/png/boulder.gif');
  background-repeat: no-repeat;
  background-size: contain;
}


.grid div.enemy-two {
  background-image: url('../assets/png/pika.gif');
  background-repeat: no-repeat;
  background-size: contain;
}


.grid div.enemy-three {
  background-image: url('../assets/png/squirtle.gif');
  background-repeat: no-repeat;
  background-size: contain;
}


.grid div.enemy-four {
  background-image: url('../assets/png/bulb.gif');
  background-repeat: no-repeat;
  background-size: contain;
}


.grid div.water-one {
  background-color: rgb(4, 212, 240);
  background-image: url('../assets/png/water.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.water-two {
  background-color: rgb(4, 212, 240);
  background-image: url('../assets/png/water.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.water-three {
  background-color: rgb(4, 212, 240);
  background-image: url('../assets/png/water.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.water-four {
  background-color: rgb(4, 212, 240);
  background-image: url('../assets/png/water.gif');
  background-repeat: no-repeat;
  background-size: contain;
}


.grid div.log-one {
  background-color: rgb(4, 212, 240);
  background-image: url('../assets/png/wood4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.grid div.log-two {
  background-color: rgb(4, 212, 240);
  background-image: url('../assets/png/wood4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.log-three {
  background-color: rgb(4, 212, 240);
  background-image: url('../assets/png/wood4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.log-four {
  background-color: rgb(4, 212, 240);
  background-image: url('../assets/png/wood4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.log-one.player:before {
  background-image: url('https://img.pokemondb.net/sprites/black-white/anim/normal/charmander.gif');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.grid div.player {
  /* background-color: chartreuse; */
  background-image: url('https://img.pokemondb.net/sprites/black-white/anim/normal/charmander.gif'); 
  background-repeat: no-repeat;
  background-size: contain;